# Variáveis usadas para container docker do mysql
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Configuração do Prisma para MySQL
# Formato: mysql://usuario:senha@host:porta/nome_banco

# Exemplo para conexão local com MySQL
DATABASE_URL="mysql://root:senha@localhost:3306/escola"

# Se o MySQL não tiver senha, use duas aspas vazias no lugar da senha
# DATABASE_URL="mysql://root:@localhost:3306/escola"
